
.bg-red{
    background-color: #dfb1b1!important;
}
.bg-green{
    background-color: #b1dfb1 !important;
}
agm-map {
    height: 300px;
  }       .col-2 {
    display: flex;
    align-self: center;
}